/build/
/.dart_tool/
/.idea/
/.packages
/.flutter-plugins
/.flutter-plugins-dependencies


/Spring Orchestrator/target
**/*.iml
/logs
/Spring Orchestrator/logs
/coverageReport


/flutter/android/app/.cxx/Debug
